@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600;1,800&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;
  overflow-x: hidden;
}
h1 {
  font-family: "Poppins", sans-serif !important;
}
